<header>
  <div class="titlePage"><%= title %></div>
  <div class="imgLogo">
    <picture></picture>
  </div>
  <aside>
    <form id="formFilterPagination" name="formFilterPagination" action="/" method="get">
      <nav>
        <section>
          <h4>Filtros aplicalbles en URL por:</h4>
          <ul class="filters">
            <li>tag</li>
            <li>venta</li>
            <li>precio</li>
            <li>nombre</li>
            <li></li>
            <li>Aplicable ordenaci칩n con "sort", y selecci칩n de campos con "fields"</li>
            <li>Aplicable paginaci칩n con "skip" y "limit"</li>
          </ul>
        </section>
        <section>

          <label for="artPerPage"><h4><%= limit %> Elementos en esta p치gina, de <%=ads.length%></h4></label>

        </section>
      </nav>
    </form>
  </aside>
</header>