<header>
  <div class="titlePage"><%= title %></div>
  <div class="imgLogo">
    <picture></picture>
  </div>
  <aside>
    <nav>
      <section>
        <h4>Filtros por:</h4>
        <ul class="filters">
          <li>Tag</li>
          <li>Tipo</li>
          <li>Precio</li>
          <li>Nombre</li>
        </ul>
      </section>
      <section>
        <h4>Elementos por página</h4>
        <ul class="pagination">
          <li>Artículos por página</li>
        </ul>
      </section>
    </nav>
  </aside>
</header>